{% extends 'main.html' %}

{% block content %}
    <h1>{{ title }}</h1>
    <br>
    <form method="post">
        {% csrf_token %}
        <div class="box">
            <label for="{{ form.name.id_for_label }}">Room name</label>
            {{ form.name }}
            {{ form.name.errors }}
            <br>
            <label for="{{ form.description.id_for_label }}" style="vertical_align: top">Description</label>
            {{ form.description }}
        </div>
        <button type="submit">Submit</button>
    </form>
{% endblock %}